@model  IEnumerable<CadastroPessoas.ViewModels.PessoaViewModel>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem</h2>

<table class="table table-striped">
    <thead>
        <tr>      
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimmento</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">CPF</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Número</th>
            <th scope="col">Complemento</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">UF</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>

    </tbody>
</table>