@{
    Layout = null;
}

<html>
<head>

    <tittle>Cadastro de Pessoas</tittle>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/vue.min.js"></script>



   
</head>
    <body>

    </body>



</html>